/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2017, 12:02:58 PM
    Author     : Admin
*/
body{
   
}


.header{
    margin-top: 50px;
    .logo{
        
    }
}
.loginForm{
    
    margin-top: 50px;
    width: 500px;
    
}

.label{
        text-align: left !important;
    }